body {
  background-image: none;
  background-color: black;
}

#middle {
  display: flex;
  flex-direction: column;
  margin: 35vh 230px 0 230px;
  align-items: center;
  height: auto;
}

#middle h1 {
  font-family: brother-1816, sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 3em;
  margin-bottom: 70px;
}

#middle img {
  height: auto;
  width: 100%;
}

#middle p {
  margin: 0 70px;
  line-height: 2.5em;
}

#end {
  line-height: 1.8em;
  width: 100%;
  margin: 140px;
  margin-top: 0;
}

#middle .two-pics {
  width: calc(100vw - 460px);
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
  margin-bottom: 140px;
}

#middle .two-pics img {
  width: 48%;
  height: auto;
}

#next {
  display: flex;
  justify-content: space-between;
  margin: 60px;
  height: 73vh;
  letter-spacing: 1px;
  line-height: 2em;
  text-align-last: right;
}

#next img {
  width: 170px;
  position: relative;
  top: -2px;
}

#next a:last-of-type {
  position: relative;
  top: -7px;
  height: 60px;
}

#next a:last-of-type:hover {
  font-style: italic;
  color: #ff6000;
  transition: all ease-out 1s;
}

/* == TABLET == */
@media only screen and (max-width: 1024px) {
  #middle {
    margin: 35vh 140px 0 140px;
  }

  #middle h1 {
    font-size: 2.5em;
  }

  #next {
    margin: 50px;
    font-size: 0.9em;
  }

  #next img {
    width: 150px;
  }

  #middle .two-pics {
    width: calc(100vw - 280px);
  }

  #middle .two-pics:first-of-type {
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 140px;
  }

  #middle .two-pics:first-of-type img {
    width: calc(100vw - 280px);
    height: auto;
    margin: 0px;
  }

  #middle .two-pics:first-of-type img:first-of-type {
    margin-bottom: 140px;
  }
}

/* == MOBILE == */
@media only screen and (max-width: 768px) {
  #middle {
    margin: 35vh 33px 0 33px;
  }

  #middle h1 {
    font-size: 1.5em;
    margin-bottom: 33px;
  }

  #middle img {
    margin: 33px 0;
  }

  #middle .text {
    margin: 70px 33px;
    font-size: 0.7em;
  }

  #end {
    line-height: 1.8em;
    width: 100%;
    margin: 140px;
    font-size: 0.7em;
  }

  #next {
    margin: 33px;
    height: 78vh;
    font-size: 0.7em;
  }

  #next img {
    width: 140px;
  }

  #middle .two-pics:first-of-type {
    width: calc(100vw - 66px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
  }

  #middle .two-pics:first-of-type img {
    width: calc(100vw - 66px);
    height: auto;
    margin: 0px;
  }

  #middle .two-pics:first-of-type img:first-of-type {
    margin-bottom: 70px;
  }

  #middle img:first-of-type {
    margin-bottom: 70px;
  }

  #middle .desert {
    width: calc(100vw - 66px);
    margin: 0;
  }

  #middle .desert img {
    margin: 0;
  }
}
